.footer
  border: 1px solid #000
  margin-left: 250px
  background: #eee

  @include media(1024)
    display: none
    
.footer-links
  height: 30px

  & span
    margin: 0 10px

.btn-up-1
  width: 45px
  position: fixed
  bottom: 35px
  right: 0
  cursor: pointer

.logo-tumedia
  width: 20px
  height: 20px
  margin-left: 15px
