.sidebar-header
  padding: 15px

.navbar-custom
  z-index: 1000
  height: 100vh
  width: 100%
  max-width: 250px
  transition: 0.3s
  border-right: 1px solid #000

  @include media(767)
    background-color: transparent
    border-right: 1px solid transparent
    max-width: none
    position: static!important
    height: auto


.navbar-custom.active

  @include media(767)
    //background-color: rgba(0, 0, 0, 0.7)


.sub-menu
  background-color: #fff
  width: 200px
  height: auto
  top: -130%
  left: 100%
  transition: 0.5s
  display: none
  padding: 15px
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20)

  @include media(767)
    top: 0
    left: 115%

  //&:before
  //  content: ''
  //  border: 10px solid transparent
  //  border-right: 10px solid #000
  //  top: 40%
  //  left: -20px
  //  position: absolute
  //
  //
  //  @include media(767)
  //    top: 12px


.navbar-toggler
  margin-left: auto
  margin-top: 17px
  margin-right: 10px

.nav-item
  transition: 0.3s
  cursor: pointer

.nav-item:hover
  background-color: #33383E
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20)

.nav-item:hover .nav-link.main
  color: #fff
  transform: translateY(5px)

.nav-item:hover > .sub-menu
  display: block

.socials
  cursor: pointer
  background-color: #33383E
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20)

.fab.fa-facebook-f,
.fab.fa-vk,
.fab.fa-instagram
  margin: 0 15px
  color: #fff
  transition: .5s
  font-size: 20px

  &:hover
    transform: scale(2)


.cirle
  margin-left: 32px
  color: #fff

  &:after
    content: ''
    position: absolute
    background-color: #ff0000
    border-radius: 50%
    bottom: -7px
    right: -12px
    width: 32px
    height: 32px
    z-index: -1

.sidebar-header-mob

  img
    width: 90px