.navbar-custom.position-fixed.p-0
    .top-menu
        .logo-company
            a.logo-company__link.m-0.p-0(href='#')
                img.logo-company__img(src='img/logo-s.svg')
            #humburger.hamburger.hamburger--squeeze.logo-company__btn
                .hamburger-box
                    .hamburger-inner
    nav#mmenu-custom.navigation-custom
        ul.navbar-nav.d-flex.justify-content-center.flex-column.w-100.pl-3
            li.nav-item.position-relative
                a.nav-link.main.text-black.pl-2(href='#') Предложения
                    span.cirle.position-relative 5
                ul.active.justify-content-center.flex-column.sub-menu.position-absolute
                    li.nav-item.active
                        a.nav-link.text-black.pl-2(href='#') Предложения
                    li.nav-item
                        a.nav-link.text-black.pl-2(href='#') Коты
                    li.nav-item
                        a.nav-link.text-black.pl-2(href='#') Кошки
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') Коты
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') Кошки
                ul.active.justify-content-center.flex-column.sub-menu.position-absolute
                    li.nav-item.active
                        a.nav-link.text-black.pl-2(href='#') Предложения
                    li.nav-item
                        a.nav-link.text-black.pl-2(href='#') Коты
                    li.nav-item
                        a.nav-link.text-black.pl-2(href='#') Кошки
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') Выпускники
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') О природе
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') Фото
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') Блог
            li.nav-item
                a.nav-link.main.text-black.pl-2(href='#') Контакты
    .socials.w-100.justify-content-start.p-3.mb-3
        a(href='#')
            i.fab.fa-facebook-f
        a(href='#')
            i.fab.fa-vk
        a(href='#')
            i.fab.fa-instagram
