nav.navbar.navbar-expand-md.navbar-expand-lg.navbar-light.flex-column.navbar-custom.position-fixed.p-0
    a.navbar-brand.m-0.p-0(href='#')
        .sidebar-header.d-none.d-md-block
           img(src='img/logo-s.svg')
    button.navbar-toggler.align-self-start(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .sidebar-header-mob.d-md-none.w-100
        img(src='img/logo-s.svg')
    #navbarSupportedContent.collapse.navbar-collapse.align-items-start.flex-wrap.w-100
        ul.navbar-nav.d-flex.justify-content-center.flex-column.w-100.pl-3
            li.nav-item.position-relative
                a.nav-link.main.text-black(href='#') Предложения
                    span.cirle.position-relative 5
                ul.active.justify-content-center.flex-column.sub-menu.position-absolute
                    li.nav-item.active
                        a.nav-link.text-black(href='#') Предложения
                    li.nav-item
                        a.nav-link.text-black(href='#') Коты
                    li.nav-item
                        a.nav-link.text-black(href='#') Кошки
            li.nav-item
                a.nav-link.main.text-black(href='#') Коты
            li.nav-item
                a.nav-link.main.text-black(href='#') Кошки
                ul.active.justify-content-center.flex-column.sub-menu.position-absolute
                    li.nav-item.active
                        a.nav-link.text-black(href='#') Предложения
                    li.nav-item
                        a.nav-link.text-black(href='#') Коты
                    li.nav-item
                        a.nav-link.text-black(href='#') Кошки
            li.nav-item
                a.nav-link.main.text-black(href='#') Выпускники
            li.nav-item
                a.nav-link.main.text-black(href='#') О природе
            li.nav-item
                a.nav-link.main.text-black(href='#') Фото
            li.nav-item
                a.nav-link.main.text-black(href='#') Блог
            li.nav-item
                a.nav-link.main.text-black(href='#') Контакты
        .socials.w-100.d-flex.justify-content-start.p-3.mb-3
            a(href='#')
                i.fab.fa-facebook-f
            a(href='#')
                i.fab.fa-vk
            a(href='#')
                i.fab.fa-instagram









