nav#mobile-menu.mobile-menu
    ul
        li
            a(href="#") Предложения
            ul
                li
                    a(href="#") Предложения
                li
                    a(href="#") Коты
                li
                    a(href="#") Кошки
        li
            a(href="#") Коты
        li
            a(href="#") Кошки
            ul
                li
                    a(href="#") Предложения
                li
                    a(href="#") Коты
                li
                    a(href="#") Кошки
        li
            a(href="#") Выпускники
        li
            a(href="#") О природе
        li
            a(href="#") Фото
        li
            a(href="#") Блог
        li
            a(href="#") Контакты
        li.social
            a(href='#')
                i.fab.fa-facebook-f
            a(href='#')
                i.fab.fa-vk
            a(href='#')
                i.fab.fa-instagram
