extends blocks/_layout

append content
    section.breadcrumb-main.breadcrumb-dark
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Главная
                li.breadcrumb-item.active(aria-current='cats') Блог
    section.title-page.mt-3.mt-sm-3.mb-3
        .container
            .row
                .col-12
                    h1 Блог
    section.last-write.mt-5
        .container
            .row
                .col
                    .our-propose-links
                        a(href='') Все статьи |
                        a(href='') Новости |
                        a(href='') Полезное |
                        a(href='') Что-то еще?
            .row
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Заголовок материала
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum explicabo maxime mollitia non porro quibusdam repellendus rerum, sit voluptas.
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis est explicabo iste itaque officiis!
            .row
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Заголовок материала
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum explicabo maxime mollitia non porro quibusdam repellendus rerum, sit voluptas.
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis est explicabo iste itaque officiis!
            .row
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Заголовок материала
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum explicabo maxime mollitia non porro quibusdam repellendus rerum, sit voluptas.
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis est explicabo iste itaque officiis!
            .row.mt-3
                .col-12.d-flex.justify-content-center
                    a.btn.btn-dark(href='' type=button) Показать еще