extends blocks/_layout

append content
    section.breadcrumb-main.breadcrumb-dark
        nav(aria-label='breadcrumb')
            ol.breadcrumb.new
                li.breadcrumb-item
                    a(href='#') Главная
                li.breadcrumb-item.active(aria-current='cats') Коты


    section.title-page
        .container
            .row
                .col-12
                    h1 Кот/Кличка
    section.card-cats.mt-5
        .container
            .row.flex-wrap
                .col-12.col-sm-12.col-md-12.col-xl-8
                    .card-cats-img
                        img(src='img/card-cats/cats.jpg')
                .col
                    .card-cats-info.mt-3.mb-md-2
                        ul.align-self-start
                            li Порода:
                                span SIA
                            li Окрас:
                                span Дым
                            li Дата рождения:
                                span 31.12.2018
                            li Заводчик:
                                span Якимова Юлия
                            li Совладелец:
                                span Якимов Алексей
                            li Статус:
                                span Не учавствует в племенной работе
                            li  Переехал
                                span в семью
                            li Титул:
                                span Чемпиона мира
                                    a.award-link(href='#award') (еще 9)
                            li
                                a.award-link(href='#') Родословная

    section.cats-images.mt-3.mt-md-3.mt-xl-5
        .container
            //.row
                .pswp(tabindex='-1', role='dialog', aria-hidden='true')
                    .pswp__bg
                    .pswp__scroll-wrap
                        .pswp__container
                            .pswp__item
                            .pswp__item
                            .pswp__item
                        .pswp__ui.pswp__ui--hidden
                            .pswp__top-bar
                                .pswp__counter
                                button.pswp__button.pswp__button--close(title='Close (Esc)')
                                button.pswp__button.pswp__button--share(title='Share')
                                button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                                button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                                .pswp__preloader
                                    .pswp__preloader__icn
                                        .pswp__preloader__cut
                                            .pswp__preloader__donut
                            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                                .pswp__share-tooltip
                            button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
                            button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
                            .pswp__caption
                                .pswp__caption__center
            .row
                .col-12.col-sm-12.col-mf.col-xl.mt-3
                    .cats-images-item
                        a(href='img/card-cats/cats.jpg' data-fancybox='cats-female')
                            img(src='img/card-cats/cats.jpg')
                .col-12.col-sm-12.col-mf.col-xl.mt-3
                    .cats-images-item
                        a(href='img/card-cats/cats_m.jpg' data-fancybox='cats-male')
                            img(src='img/card-cats/cats_m.jpg')
                .col-12.col-sm-12.col-mf.col-xl.mt-3
                    .cats-images-item
                        a(href='img/card-cats/litl.jpg' data-fancybox='cats-litle')
                            img(src='img/card-cats/litl.jpg')
                .w-100.mt-3
                .col-12.col-sm-12.col-mf.col-xl.mt-3
                    .cats-images-item
                        a(href='img/card-cats/litl2.jpg' data-fancybox='cats-litle')
                            img(src='img/card-cats/litl2.jpg')
                .col-12.col-sm-12.col-mf.col-xl.mt-3
                    .cats-images-item
                        a(href='img/card-cats/vipusk.jpg' data-fancybox='cats-vipusk')
                            img(src='img/card-cats/vipusk.jpg')
                .col-12.col-sm-12.col-mf.col-xl.mt-3
                    .cats-images-item
                        a(href='img/card-cats/cats.jpg' data-fancybox='cats-female')
                            img(src='img/card-cats/cats.jpg')

    section.about-cat.mt-sm-3.mt-md-5
        .container
            .row
                .col-12
                    .about-cat-info
                        p.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio earum mollitia nulla omnis optio pariatur recusandae rem sequi tenetur?
                        p.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit hic illum maxime minima molestias odit vel vitae. Laboriosam suscipit, totam!
                        p.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium delectus nobis placeat rem sapiente sunt!
    section.parents.mt-5
        .container
            .row
                .col-12.mt-3.col-xl-6
                    .parent-outer
                        .row.d-flex.flex-column.flex-sm-column.flex-md-row.flex-xl-row
                            .col-12.col-sm-12.col-md-5.col-xl-5
                                .parent-cat-img
                                    img(src='img/card-cats/cats.jpg')
                            .col-12.col-sm-7.col-md-7.col-xl-7
                                .parent-cat-info
                                    h5 Мама
                                    h5 Alisia SiOriPraid
                                    a(href='#') Смотреть профиль

                .col-12.mt-3.col-xl-6
                    .parent-outer
                        .row.d-flex.flex-column.flex-sm-column.flex-md-row.flex-xl-row
                            .col-12.col-sm-12.col-md-5.col-xl-5
                                .parent-cat-img
                                    img(src='img/card-cats/cats.jpg')
                            .col-12.col-sm-7.col-md-7.col-xl-7
                                .parent-cat-info
                                    h5 Папа
                                    h5 Viktor Gift Of Kings
    section#award.award.mt-5
        .container
            .row
                .col-12.col-sm-12.col-md-6.col-xl-4.mt-2
                    h5  Титул
                    ul.mt-3
                        li Чемпион
                        li Юниор
                        li Чемпион мира
                        li Европейский (Континентальный) Чемпион
                        li Юниор-Премиор
                        li Международный Чемпион
                .col-12.col-sm-12.col-md-5.col-xl-4.mt-2
                    h5  Выстовочные достижения
                    ul.mt-3
                        li Номер один
                        li Номер два
                        li Номер три
                        li Номер четыре
                .col-12.col-sm-12.col-md-5.col-xl-4.mt-2
                    h5  Потомство:
                    ul.mt-3
                        li Litter A
                        li Litter B
                        li Litter C
