extends blocks/_layout

append content
    main
        .breadcrumb-main.breadcrumb-dark
                nav(aria-label='breadcrumb')
                    .container
                        ol.breadcrumb.new.pl-0
                            li.breadcrumb-item
                                a(href='#') Главная
                            li.breadcrumb-item.active(aria-current='cats') Коты
        .title-page.mb-3
            .container
                .row
                    .col-12.mt-5
                        h1 Коты
        .cats.mt-5
            .container
                .row
                    .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5.mb-3
                        a(href='#')
                            .img-item
                                img(src='img/cats/Cats.jpg')
                                div.p-3 LuckyStar's Lilac Dream SiOri Praid
                    .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5.mb-3
                        a(href='#')
                            .img-item
                                img(src='img/cats/Cats.jpg')
                                div.p-3 LuckyStar's Lilac Dream SiOri Praid
                    .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5.mb-3
                         a(href='#')
                            .img-item
                                img(src='img/cats/Cats.jpg')
                                div.p-3 LuckyStar's Lilac Dream SiOri Praid

                    .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5.mb-3
                         a(href='#')
                            .img-item
                                img(src='img/cats/Cats.jpg')
                                div.p-3 LuckyStar's Lilac Dream SiOri Praid
                    .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                         a(href='#')
                            .img-item
                                img(src='img/cats/Cats.jpg')
                                div.p-3 LuckyStar's Lilac Dream SiOri Praid
                    .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5.mb-3
                         a(href='#')
                            .img-item
                                img(src='img/cats/Cats.jpg')
                                div.p-3 LuckyStar's Lilac Dream SiOri Praid
                .row.mt-3
                    .col-12.d-flex.justify-content-center
                        h2 Загрузка....