extends blocks/_layout

append content
    section.breadcrumb-main.breadcrumb-dark
            nav(aria-label='breadcrumb')
                ol.breadcrumb.new
                    li.breadcrumb-item
                        a(href='#') Главная
                    li.breadcrumb-item.active(aria-current='cats') Коты
    section.title-page.mb-3
        .container
            .row
                .col-12
                    h1 Коты
    section.cats.mt-5
        .container
            .row
                .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                    .img-item
                        img(src='img/cats/Cats.jpg')
                        h4 LuckyStar's Lilac Dream SiOri Praid
                .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                    .img-item
                        img(src='img/cats/Cats.jpg')
                        h4 LuckyStar's Lilac Dream SiOri Praid
                .w-100
                .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                    .img-item
                        img(src='img/cats/Cats.jpg')
                        h4 LuckyStar's Lilac Dream SiOri Praid

                .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                    .img-item
                        img(src='img/cats/Cats.jpg')
                        h4 LuckyStar's Lilac Dream SiOri Praid
                .w-100
                .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                    .img-item
                        img(src='img/cats/Cats.jpg')
                        h4 LuckyStar's Lilac Dream SiOri Praid
                .col-12.col-sm-12.col-md-6.col-xl-6.mt-sm-3.mt-5
                    .img-item
                        img(src='img/cats/Cats.jpg')
                        h4 LuckyStar's Lilac Dream SiOri Praid
            .row.mt-3
                .col-12.d-flex.justify-content-center
                    h2 Загрузка....