extends blocks/_layout

append content
    section.slide.no-gutters.p-0
        .container-fluid.no-gutters
            .row
                .col.p-0
                  #carouselExampleSlidesOnly.carousel(data-ride='carousel')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                        .carousel-item
                            img.d-block.w-100(src='img/slider/LSM_6834.jpg', alt='cat')
                        .carousel-item
                            img.d-block.w-100(src='img/slider/LSM_6877.jpg', alt='cat')

    section.content
        .container
            .row
                .col-12.col-sm-12.col-xl-6.mt-3
                    p.mt-2   Мы рады приветсвовать Вас на страницах нашего сайта.
                    p.mt-2   Георграфически мы находимся в городе Тюмень - нефтенная столица Росии, административном центре Тюменской области, столице Западной Сибири и просто в красивом уютном городе.
                    p.mt-2   Наш питомник был основан в 2010 году как мультипородный, ведущий работу в двух направлениях: с короткошерстными кошками восточной гуппы и с бурмами и носил приставку Gift of Kings(Подарок Королей). С 2014 года направления были разделены
                    p.mt-2   В 2014 году мы прошли официальную перегистрацию в WCF. И в декабре 2014, под самый новый год получили подарочек - свидетельство о регистрации питомника WCF №717-2014 от 29.12.2014 г. С этого времени наш питомник называется SiOri Praid (Сиори Прайд) и занимается только восточным направлением (ориенталы, сиамы, сейшелы).
                    .about-us.d-flex.justify-content-end.mt-3
                        button.btn.btn-dark(type='button') Подробнее о нас
                .col-12.col-sm-12.col-xl-6.mt-3
                    img(src='img/main/cats.jpg')
    section.cats-img
        .container
            .row
                .col-md-12.col-xl.d-flex.flex-column.mt-3
                    .img-item
                        img(src='img/main/cats_m.jpg')
                        .title.mt-2.d-flex.justify-content-center
                            h3 Коты
                .col-md-12.col-xl.d-flex.flex-column.mt-3
                    .img-item
                        img(src='img/main/cats.jpg')
                        .title.mt-2.d-flex.justify-content-center
                            h3 Кошки
                .w-100
                .col-md-12.col-xl.d-flex.flex-column.mt-3
                    .img-item
                        img(src='img/main/litl2.jpg')
                        .title.mt-2.d-flex.justify-content-center
                            h3 Котята
                .col-md-12.col-xl.d-flex.flex-column.mt-3
                    .img-item
                        img(src='img/main/vipusk.jpg')
                        .title.mt-2.d-flex.justify-content-center
                            h3 Выпускники
    section.propos.d-none.d-lg-block.mt-5
        .container
            .row
                .pswp(tabindex='-1', role='dialog', aria-hidden='true')
                    .pswp__bg
                    .pswp__scroll-wrap
                        .pswp__container
                            .pswp__item
                            .pswp__item
                            .pswp__item
                        .pswp__ui.pswp__ui--hidden
                            .pswp__top-bar
                                .pswp__counter
                                button.pswp__button.pswp__button--close(title='Close (Esc)')
                                button.pswp__button.pswp__button--share(title='Share')
                                button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                                button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                                .pswp__preloader
                                    .pswp__preloader__icn
                                        .pswp__preloader__cut
                                            .pswp__preloader__donut
                            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                                .pswp__share-tooltip
                            button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
                            button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
                            .pswp__caption
                                .pswp__caption__center
            .row
                .col-12.d-flex.justify-content-center.text-center
                    .title-props
                        h3 Актуальные предложения нашего питомника
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Добрые руки
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000
                                i.fas.fa-ruble-sign
                .col-12
                    .see-all.d-flex.justify-content-center.mt-3
                        button.btn.btn-dark(type='button') Смотреть все
    section.propos-mob.d-lg-none.mt-5
        .container
            .row
                .col-12.d-flex.justify-content-center.text-center
                    .title-props
                        h3 Актуальные предложения нашего питомника
                .col-sm-12.col-md-12.mt-3.mt-sm-3.mt-md-5.mt-xl-5
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators.custom-dotten
                            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                            li(data-target='#carouselExampleIndicators' data-slide-to='1')
                            li(data-target='#carouselExampleIndicators' data-slide-to='2')
                        .carousel-inner
                            .carousel-item.active.col-12.mt-5
                                .img-item
                                    .img-group.position-relative
                                        img(src='img/main/litl2.jpg')
                                        .title-img.position-absolute
                                            h5 Котенок
                                    .title-main
                                        h4 Alisia SiOri Praid, 7мес.
                                    .price-cat
                                        h3 20000
                                            i.fas.fa-ruble-sign
                            .carousel-item.col-12.mt-5
                                .img-group.position-relative
                                    img(src='img/main/litl2.jpg')
                                    .title-img.position-absolute
                                        h5 Котенок
                                .title-main
                                    h4 Alisia SiOri Praid, 7мес.
                                .price-cat
                                    h3 20000
                                        i.fas.fa-ruble-sign
                            .carousel-item.col-12.mt-5
                                .img-group.position-relative
                                    img(src='img/main/litl2.jpg')
                                    .title-img.position-absolute
                                        h5 Котенок
                                .title-main
                                    h4 Alisia SiOri Praid, 7мес.
                                .price-cat
                                    h3 20000
                                        i.fas.fa-ruble-sign
                        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
    section.last-write.mt-5
        .container
            .row
                .col-12.d-flex.justify-content-center.text-center
                    .title-props
                        h3 Последние записи в нашем блоге
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Заголовок материала
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum explicabo maxime mollitia non porro quibusdam repellendus rerum, sit voluptas.
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 21.12.18
                        .title-main
                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis est explicabo iste itaque officiis!
