append content
    -
        var links = [
        'home.html',
        'cats.html',
        'card-cats.html',
        'litter.html',
        'our-propose.html',
        'proposes.html',
        'text-page.html',
        'blog.html',
        'contacts.html',
        ]
    .box(style="color: #333")
        ul
            each item in links
                li
                    a(href=item)=item