extends blocks/_layout

append content
    main
        .breadcrumb-main.breadcrumb-dark
            nav(aria-label='breadcrumb')
                .container
                    ol.breadcrumb.new.pl-0
                        li.breadcrumb-item
                            a(href='#') Главная
                        li.breadcrumb-item.active(aria-current='litter') Литтер
        .title-page.mb-3
            .container
                .row
                    .col-12.mt-5
                        h1 Литтер
        .parents.mt-5
            .container
                .row
                    .col-12.mt-3.col-xl-6
                        .parent-outer
                            .row.d-flex.flex-column.flex-sm-column.flex-md-row.flex-xl-row
                                .col-12.col-sm-12.col-md-5.col-xl-5
                                    .parent-cat-img
                                        img(src='img/card-cats/cats.jpg')
                                .col-12.col-sm-7.col-md-7.col-xl-7
                                    .parent-cat-info
                                        div Мама
                                        div Alisia SiOriPraid
                                        a(href='#') Смотреть профиль

                    .col-12.mt-3.col-xl-6
                        .parent-outer
                            .row.d-flex.flex-column.flex-sm-column.flex-md-row.flex-xl-row
                                .col-12.col-sm-12.col-md-5.col-xl-5
                                    .parent-cat-img
                                        img(src='img/card-cats/cats.jpg')
                                .col-12.col-sm-7.col-md-7.col-xl-7
                                    .parent-cat-info
                                        div Папа
                                        div Viktor Gift Of Kings
                                        a(href='#') Смотреть профиль
        .galary.mt-3
            .container
                .row
                    .col-8
                        h4 Дата рождения 31.12.2018
                .row.mt-3.mt-xl-5
                    .col-12.col-sm-12.col-md-12.col-xl-6
                        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                          ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                            li(data-target='#carouselExampleIndicators' data-slide-to='1')
                            li(data-target='#carouselExampleIndicators' data-slide-to='2')
                          .carousel-inner
                            .carousel-item.active
                              img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                            .carousel-item
                              img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                            .carousel-item
                              img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                          a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                          a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next

                    .col
                        .galary-info.mt-3
                            h4.mb-3 Hermes SiOri Praid
                            ul
                                li Пол:
                                    span Male
                                li Порода:
                                    span OSH
                                li Окрас:
                                    span Дым
                                li Статус:
                                    span Продается (смотреть)
                .row.mt-3.mt-xl-5
                    .col.order-2.order-sm-2.order-md-2.order-xl-1
                        .galary-info.mt-3
                            h4.mb-3 Hermes SiOri Praid
                            ul
                                li Пол:
                                    span Male
                                li Порода:
                                    span OSH
                                li Окрас:
                                    span Дым
                                li Статус:
                                    span Продается (смотреть)
                    .col-12.col-sm-12.col-md-12.col-xl-6.order-1.order-sm-1.order-md-1.order-xl-2
                        .galary-img
                            img(src='img/litter/vipusk.jpg')
                .row.mt-3.mt-xl-5
                    .col-12.col-sm-12.col-md-12.col-xl-6
                        #carouselExampleIndicators2.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li.active(data-target='#carouselExampleIndicators2' data-slide-to='0')
                                li(data-target='#carouselExampleIndicators2' data-slide-to='1')
                                li(data-target='#carouselExampleIndicators2' data-slide-to='2')
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                                .carousel-item
                                    img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                                .carousel-item
                                    img.d-block.w-100(src='img/slider/IMG_2161.jpg', alt='cat')
                            a.carousel-control-prev(href='#carouselExampleIndicators2' role='button' data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators2' role='button' data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                    .col
                        .galary-info.mt-3
                            .mb-3 Hermes SiOri Praid
                            ul
                                li Пол:
                                    span Male
                                li Порода:
                                    span OSH
                                li Окрас:
                                    span Дым
                                li Статус:
                                    span Продается (смотреть)

