extends blocks/_layout

append content
    header
        .breadcrumb-main.breadcrumb-dark
            nav(aria-label='breadcrumb')
                ol.breadcrumb.new
                    li.breadcrumb-item
                        a(href='#') Главная
                    li.breadcrumb-item.active(aria-current='our-propose') Наши предложени
        .title-page
            .container
                .row
                    .col-12
                        h1 Предложения нашего питомника
    section.propos.mt-5
        .container
            .row
                .col
                    .our-propose-links
                        a(href='') Все |
                        a(href='') Котята |
                        a(href='') В добрые руки
            .row
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Котенок
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Добрые руки
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Котенок
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Котенок
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Добрые руки
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Котенок
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                        div20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Котенок
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Добрые руки
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
                .col-sm-12.col-md-12.col-lg-4.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                div Котенок
                        .title-main
                            div Alisia SiOri Praid, 7мес.
                        .price-cat
                            div 20000
                                i.fas.fa-ruble-sign
            .row.mt-3
                .col-12.d-flex.justify-content-center
                    div Загрузка....
