extends blocks/_layout

append content
    section.breadcrumb-main.breadcrumb-dark
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Главная
                li.breadcrumb-item.active(aria-current='cats') Наши предложени
    section.title-page.mt-3.mt-sm-3
        .container
            .row
                .col-12
                    h1 Предложения нашего питомника
    section.propos.mt-5
        .container
            .row
                .col
                    .our-propose-links
                        a(href='') Все |
                        a(href='') Котята |
                        a(href='') В добрые руки
            .row
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h5 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h4 20000 Р
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Добрые руки
                        .title-main
                            h5 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h4 20000 Р
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000 Р
            .row
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h5 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h4 20000 Р
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Добрые руки
                        .title-main
                            h5 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000 Р
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000 Р
            .row
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000 Р
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Добрые руки
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000 Р
                .col-sm-12.col-md-12.col-xl.mt-5
                    .img-item
                        .img-group.position-relative
                            img(src='img/main/litl2.jpg')
                            .title-img.position-absolute
                                h5 Котенок
                        .title-main
                            h4 Alisia SiOri Praid, 7мес.
                        .price-cat
                            h3 20000 Р

            .row.mt-3
                .col-12.d-flex.justify-content-center
                    h2 Загрузка....
