extends blocks/_layout

append content
    main
        .breadcrumb-main.breadcrumb-dark
            nav(aria-label='breadcrumb')
                .container
                    ol(itemscope itemtype="http://schema.org/BreadcrumbList").breadcrumb.new.pl-0
                        li(itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem").breadcrumb-item
                            a(href='#' itemprop="item")
                                span(itemprop="name") Главная
                                meta(itemprop="position" content="1")
                        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current='proposes').breadcrumb-item.active
                            a(href='#' itemprop="item")
                                span(itemprop="name") Страница предложения
                                meta(itemprop="position" content="1")
        .title-page.mb-3
            .container
                .row
                    .col-12.mt-5
                        h1 Страница предложения
        .card-cats.mt-5
            .container
                .row.flex-wrap
                    .col-12.col-sm-12.col-md-12.col-xl-8
                        .card-cats-img
                            img(src='img/card-cats/cats.jpg')
                    .col
                        .card-cats-info.mt-3.mt-xl-0.mb-md-2
                            ul.align-self-start
                                li Порода:
                                    span SIA
                                li Окрас:
                                    span Дым
                                li Дата рождения:
                                    span 31.12.2018
                                li Заводчик:
                                    span Якимова Юлия
                                li Совладелец:
                                    span Якимов Алексей
                                li Статус:
                                    span Не учавствует в племенной работе
                                li  Переехал
                                    span в семью
                                li Титул:
                                    span Чемпиона мира (еще 9)
                        a(href='#') Родословная
        .cats-images.mt-3.mt-md-3.mt-xl-5
            .container
                .row
                    .col-12.col-sm-12.col-mf.col-lg-4.mt-3
                        .cats-images-item.mt-3
                            img(src='img/card-cats/cats_m.jpg')
                    .col-12.col-sm-12.col-mf.col-lg-4.mt-3
                        .cats-images-item.mt-3
                            img(src='img/card-cats/cats_m.jpg')
                    .col-12.col-sm-12.col-mf.col-lg-4.mt-3
                        .cats-images-item.mt-3
                            img(src='img/card-cats/cats_m.jpg')
                    .col-12.col-sm-12.col-mf.col-lg-4.mt-3
                        .cats-images-item.mt-3
                            img(src='img/card-cats/cats_m.jpg')
                    .col-12.col-sm-12.col-mf.col-lg-4.mt-3
                        .cats-images-item.mt-3
                            img(src='img/card-cats/cats_m.jpg')
                    .col-12.col-sm-12.col-mf.col-lg-4.mt-3
                        .cats-images-item.mt-3
                            img(src='img/card-cats/cats_m.jpg')
        .parents.mt-5
            .container
                .row
                    .col-12.mt-3.col-xl-6
                        .parent-outer
                            .row.d-flex.flex-column.flex-sm-column.flex-md-row.flex-xl-row
                                .col-12.col-sm-12.col-md-5.col-xl-5
                                    .parent-cat-img
                                        img(src='img/card-cats/cats.jpg')
                                .col-12.col-sm-7.col-md-7.col-xl-7
                                    .parent-cat-info
                                        div Мама
                                        div Alisia SiOriPraid
                                        a(href='#') Смотреть профиль

                    .col-12.mt-3.col-xl-6
                        .parent-outer
                            .row.d-flex.flex-column.flex-sm-column.flex-md-row.flex-xl-row
                                .col-12.col-sm-12.col-md-5.col-xl-5
                                    .parent-cat-img
                                        img(src='img/card-cats/cats.jpg')
                                .col-12.col-sm-7.col-md-7.col-xl-7
                                    .parent-cat-info
                                        div Папа
                                        div Viktor Gift Of Kings
                                        a(href='#') Смотреть профиль