extends blocks/_layout

append content
    main
        .breadcrumb-main.breadcrumb-dark
            nav(aria-label='breadcrumb')
                ol.breadcrumb.new
                    li.breadcrumb-item
                        a(href='#') Главная
                    li.breadcrumb-item.active(aria-current='cats') Текстовая страница
        .title-page.mb-3
            .container
                .row
                    .col-12.mt-5.mt-sm-5
                        h1 Текстовая страница
        .text-page.mb-5
            .container
                .row
                    .col-12
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum dolor est itaque maiores nobis optio quibusdam similique? A accusantium adipisci architecto deleniti dignissimos eos eum iusto labore laborum maiores molestiae natus nemo neque, odio odit officiis perferendis placeat praesentium quae quaerat quod sit voluptates? Aliquid aperiam atque, commodi, cum cupiditate deserunt dignissimos distinctio dolor dolore dolorem doloribus explicabo, fugit ipsum itaque laborum laudantium libero natus necessitatibus nisi non nulla numquam obcaecati perferendis quaerat quasi quia quisquam recusandae reiciendis repellendus reprehenderit repudiandae sapiente sed tempora velit veniam voluptatibus voluptatum. Debitis deleniti ducimus libero minus sapiente sunt totam! Eaque, ipsum, ut.