.breadcrumb-main
  background: #eee
  margin-bottom: 0

.title-page
  background-image: url(../img/main/IMG_2277.jpg)
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover
  height: 350px
  color: #fff
  margin-top: 0

  @include media(767)
    margin-top: 55px

.breadcrumb.new
  margin-bottom: 0


