.breadcrumb-main,
.card-cats,
.cats-images,
.about-cat,
.parents,
.award
  margin-left: 250px

  @include media(767)
    margin-left: 0

ol

  .breadcrumb
    margin-bottom: 0

.container

  @include media(767)
    padding: 0 16px

.parent-outer
  padding: 1rem
  border: 1px solid #000
  
.list-style
  
  &:before
    content: '.'
    color: #000


